<div class="row">
  <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
      <ul class="nav flex-column">
        {{#each postList}}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/{{this.permalink}}">
            {{this.title}}
          </a>
        </li>
        {{/each}}
        <li class="nav-item p-3">
          <a href="https://www.netlify.com">
            <img src="/content/images/netlify-color-accent.svg" width="90" height="90" alt="Deploys by Netlify" />
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <main class="col-md-9 ms-sm-auto col-lg-10 mt-3 px-md-4">
    <h1>{{post.title}}</h1>
    {{{post.body}}}
  </main>
</div>